body {
    background-color: khaki;
}

#content {
    display:flex;
    justify-content: center;
}

#header h1 {
    font-size: 60px;
    font-weight:800;
    color:mediumblue;
    text-align: center;
}

#goods_list {
    width: 100%;
    list-style: none;
    border: 3px solid black;
    background: #f3f0f0;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    border-radius: 5px;
}

#goods_list li div {

    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    width: 30vw;
    /* height: 35vh; */
    flex-direction: column;
    align-items: center;
    background-color: #e7f3f3;
}

li {
    margin: 23px 1vw;
    display: block;
    width: calc( 33% - 2vw );
}
img {
    object-fit: contain;
    width: 420px;
    height: 36vh;
    border-bottom: 2px solid black;

}

p {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 2vw;
    word-wrap: break-word;
    vertical-align: center;
    width: 100%;
    background-color: grey;
}
